*
!.gitignore
!init_bash_vim_conf.bash

!alacritty/
!alacritty/**
!bash/
!bash/**
bash/current_machine_settings.sh
!eww
!eww/**
!hypr
!hypr/**
!lf/
!lf/**
!neofetch
!neofetch/**
!nixos
!nixos/**
!nvim/
!nvim/**
nvim/lazy-lock.json
!vim/
!vim/**
!waybar/
!waybar/**
!wofi/
!wofi/**
!xonsh/
!xonsh/**
