*
!.gitignore
!init_bash_vim_conf.bash

!alacritty/
!alacritty/*
!bash/
!bash/*
!bash/scripts/*
bash/current_machine_settings.sh
!lf/
!lf/*
!neofetch
!neofetch/*
!nvim/
!nvim/*
nvim/lazy-lock.json
!nvim/lua/*
!nvim/lua/core/*
!nvim/lua/plugins/*
!vim/
!vim/*
!xonsh/
!xonsh/*




